.container
    .row
        .col-xs-12.col-sm-6
            h1
                | GaritaCenter es un servico de Mint IT Media. Te brindamos informaci&oacute;n actualizada sobre el cruce fronterizo, esperando te sirva para planear mejor tu viaje.
        .col-xs-12.col-sm-6
            .row
                .col-xs-12.col-sm-6
                    h4 Sitio desarrollado por:
                    ul#patrocinador
                        li#mint
                            a.icon(href='http://www.mintitmedia.com', title='Mint IT Media - Diseño y desarrollo web', target='_blank') Mint IT Media - Dise&ntilde;o y desarrollo web
                        li#pool
                            a.icon(href='http://somospool.com/', title='Branding Pool', target='_blank') Branding Pool
                .col-xs-12.col-sm-6
                    h4 Amigos de Garita Center:
                    ul#amigos
                        li
                            a(href='http://ciudadtijuana.info/', title='Ciudad Tijuana', target='_blank') Ciudad Tijuana
                        li
                            a(href='http://www.mexonline.com/cityguide-tijuana.htm', title='MexOnline', target='_blank') MexOnline
                        li
                            a(href='http://www.hotellavilla.biz', title='La villa de Zaragoza', target='_blank') La villa de Zaragoza
    hr
    .row
        .col-xs-12.col-sm-6
            p Datos extra&iacute;dos de CBP
        .col-xs-12.col-sm-6
            p Los datos contenidos en este sitio son de car&aacute;cter informativo 