.navbar
    #main_nav
        .container
            .row
                .col-xs-12.col-sm-6
                    a#brand(href='/', title='Regresar a inicio')
                        | Garita Center 
                        span.icon
                .col-xs-12.col-sm-6
                    h3
                        span.hidden Tu reporte de garita de 
                        | Tijuana / San Diego
        // .container
    // #main_nav
// .navbar.navbar-fixed-top