section.wrapp
    h2
        span.hidden Garita Center, tu
        em Reporte de garitas
        span.hidden  para Tijuana / San Ysidro - Otay | 
        span#updated_on
            span.hidden El tiempo de espera para cruzar la l&iacute;nea fue 
            em Actualizado
            | hace 14 minutos
    .row.time-table
        .col-xs-12.col-sm-2.border-name
            h2
                span.hidden Tiempo de espera en 
                span San Ysidro
                span.height_control
            .time-space.first.hidden-xs
                span.icon.t-clock
        .col-xs-12.col-sm-10.border-data
            .row
                .col-xs-12.col-sm-3
                    h3
                        span.icon.t-normal
                        span.hidden Espera en l&iacute;nea 
                        | Normal
                    .wait-time
                        p
                            | 0:20
                    // .wait-time
                .col-xs-12.col-sm-3
                    h3
                        span.icon.t-sentri
                        span.hidden Espera en l&iacute;nea 
                        | Sentri
                    .wait-time
                        p
                            | 0:15
                    // .wait-time
                .col-xs-12.col-sm-3
                    h3
                        span.icon.t-ready
                        span.hidden Espera en  
                        | Ready Lane
                    .wait-time
                        p
                            | 0:20
                    // .wait-time
                .col-xs-12.col-sm-3
                    h3
                        span.icon.t-peaton
                        span.hidden Espera en l&iacute;nea de 
                        | Peatones
                    .wait-time
                        p
                            | 0:10
                    // .wait-time
    // .time-table San ysidro
    hr
    .row.time-table
        .col-xs-12.col-sm-2.border-name
            h2
                span.hidden Tiempo de espera en 
                span Otay
                span.height_control
            .time-space.first.hidden-xs
                span.icon.t-clock
        .col-xs-12.col-sm-10.border-data
            .row
                .col-xs-12.col-sm-3
                    h3
                        span.icon.t-normal
                        span.hidden Espera en l&iacute;nea 
                        | Normal
                    .wait-time
                        p
                            | 0:20
                .col-xs-12.col-sm-3
                    h3
                        span.icon.t-sentri
                        span.hidden Espera en l&iacute;nea 
                        | Sentri
                    .wait-time
                        p
                            | 0:15
                .col-xs-12.col-sm-3
                    h3
                        span.icon.t-ready
                        span.hidden Espera en  
                        | Ready Lane
                    .wait-time
                        p
                            | 0:20
                .col-xs-12.col-sm-3
                    h3
                        span.icon.t-peaton
                        span.hidden Espera en l&iacute;nea de 
                        | Peatones
                    .wait-time
                        p
                            | 0:10
                    // .wait-time
    // .time-table Otay
    hr
    #paid_content
        script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
        ins.adsbygoogle(style='display:inline-block;width:728px;height:90px', data-ad-client='ca-pub-0681317538593264', data-ad-slot='1123891020')
        script.
            (adsbygoogle = window.adsbygoogle || []).push({});
// .wrapp